<?xml version="1.0"?>

<launch>
    <node name="arduino" pkg="rosserial_python" type="serial_node.py" output="screen">
        <param name="port" value="/dev/ttyACM0" />
    </node>

    <node name="pipe_reader" pkg="joy_convert" type="pipe_reader.py" output="screen" >
        <param name="pipe_name" value="/tmp/xy" />
        <param name="hz" value="20" />
        <remap from="x" to="/image_x" />
        <remap from="y" to="/image_y" />
    </node>

    <node name="hip_ctrl" pkg="joy_convert" type="interp.py" output="screen" >
        <param name="minAngle" value="1250" />
        <param name="maxAngle" value="1800" />
        <param name="minPixel" value="0" />
        <param name="maxPixel" value="1280" /> 

        <remap from="input" to="/image_x" />
        <remap from="servo" to="/hip_servo" />
    </node>


    <node name="trigger_ctrl" pkg="joy_convert" type="state_machine.py" output="screen" >
        <param name="timeout_duration" value="5.0" />
        <param name="y_home_val" value="1200" />
        <param name="y_point_val" value="1800" />

        <remap from="x_in" to="/hip_servo" />
        <remap from="y_out" to="/shoulder_servo" />

        <remap from="soundEnable" to="/trigger_sound" />
        <remap from="eyeEnable" to="/eyeEnable" />
        <remap from="motionDetected" to="/motionDetected" />
           
    </node>

    <node name="sound_ctrl" pkg="joy_convert" type="audio_driver.py" output="screen" >
        <param name="audio_dir" value="$(find joy_convert)/audio_files" />
        
        <remap from="trigger_sound" to="/trigger_sound" />        
    </node>

</launch>
